.transactions_container {
    -fx-background-color: #000000;
}

.transactions_container Text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.transactions_container .list-view {
    -fx-background-color: #000000;
    -fx-padding: 10;
}

.transactions_container .list-cell {
    -fx-background-color: #000000;
    -fx-pref-width: 800;
}
